body{
    background-color: #dff9fb;
}
#content{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

h1{
    color: crimson;
}

h3{
    color: darkolivegreen;
}

#result{
    display: none;
    max-width: 600px;
}

p{
    color: blue;
}

label{
    color: blue;
}